body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my-container {
  border: solid 1px black;
  border-radius: 5px;
}

.seatRowContainer {
  margin: 5px 0;
  padding: 5px;

  border: 1px solid rgba(255, 255, 255, 0.774);
  border-radius: 5px;
}

.shadow-container {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.min-height-full {
  margin-bottom: 0;
  padding: 0;
  position: relative;
  min-height: 85vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.schedule-row {
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  position: relative;
  background-color: rgba(70, 70, 70, 0);
}

.whosBookingsWrapper {
  display: inline-block;
  margin: 5px 10px;
}

.cube {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: auto 5px;
  border-radius: 3px;
}

.ownCube {
  background-color: rgba(150, 10, 90, 0.3);
}

.othersCube {
  background-color: rgba(200, 200, 200, 0.4);
}

.overflow-hidden {
  overflow: hidden;
}

.rgbaTest {
  background-color: rgba(80, 80, 80, 0.521);
}
